<h1>Participantes de <strong><%= League.find(params[:league]).name %></strong></h1>

<% @user_leagues.each do |participant| %>
  <p><%= participant.user.name %></p>
<% end %>

<% if can? :manage, League %>
  <%= link_to 'Agregar participantes', new_user_league_path(league: params[:league]) %>
<% end %>

<%= link_to 'Volver a ligas', leagues_path, class: 'btn btn-info' %>
