<h1>Participantes del evento</h1>

<% @user_events.each do |user_event| %>
  <p><%= user_event.user_name %>
<% end %>
<hr>
<a href="#" class="btn btn-info">Asignar Puntajes</a>
<a href="<%= events_path(league: @league.id) %>" class="btn btn-info">Volver a eventos</a>

